DB_PASSWORD=changeme_db
JWT_PRIVATE_KEY_PATH=./keys/private.pem
JWT_PUBLIC_KEY_PATH=./keys/public.pem
S3_BUCKET=cinehorizon-media
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ADMIN_SEED_EMAIL=admin@cinehorizon.local
ADMIN_SEED_PASSWORD=ChangeMe123!
